colors:
  name: {{scheme.name}}  
  author: Themer GH Bot
  primary:
    background: "{{bg.base}}"
    foreground: "{{fg}}"
  cursor:
    text: "{{bg.base}}"
    cursor: "{{fg}}"
  normal:
    black: "{{bg.alt}}"
    red: "{{diagnostic.error}}"
    green: "{{gitsigns.add}}"
    yellow: "{{diagnostic.warn}}"
    blue: "{{accent}}"
    magenta: "{{magenta}}"
    cyan: "{{cyan}}"
    white: "{{fg}}"
  bright:
    black: "{{bg.alt}}"
    red: "{{diagnostic.error}}"
    green: "{{gitsigns.add}}"
    yellow: "{{diagnostic.warn}}"
    blue: "{{accent}}"
    magenta: "{{magenta}}"
    cyan: "{{cyan}}"
    white: "{{fg}}"
